beautifulsoup4
certifi
chardet
cycler
HTMLParser
idna
kiwisolver
matplotlib
numpy
pandas
pyparsing
# pythondateuti
pytz
requests
selenium
six
soupsieve
urllib3
pillow>=10.2.0 # not directly required, pinned by Snyk to avoid a vulnerability